
<div class="picker-container">

    {{#if isClock}}
        {{paper-time-picker timestamp=timestamp minDate=minDate maxDate=maxDate}}
    {{/if}}

    {{#if isCalender}}
        {{paper-date-picker timestamp=timestamp minDate=minDate maxDate=maxDate}}
    {{/if}}

    <div class="picker-footer">

        {{#if isClock}}
            <div id="current-date-date" class="currentDate" {{action 'togglePicker' 'isClock'}}>{{currentDate}}</div>
        {{/if}}

        {{#if isCalender}}
            <div id="current-date-time" class="currentDate" {{action 'togglePicker' 'isCalender'}}>{{currentTime}}</div>
        {{/if}}
    </div>

</div>
