<div class="clock-container">
    <div class="outside-hours-container">
        <h1>Hours</h1>
        <div class="clock-hours">
            <div class="hours-container">
                <div class="hours"></div>
                <div class="circle" {{action 'drag'}} style={{rotateCircle}}></div>
            </div>

        </div>
    </div>

    <div class="outside-minutes-container">
        <div class="header-container">
            <h1>Minutes</h1>
        </div>
        <div class="meridean-container">
            <div class="am-pm">
                <div class="am" {{action 'amClicked'}}>AM</div>
                <div class="pm" {{action 'pmClicked'}}>PM</div>
            </div>
        </div>
        <div class="clock-minutes">
            <div class="minutes-container">
                <div class="hours"></div>
                <div class="circle" {{action 'drag'}}></div>
            </div>
        </div>
    </div>
</div>
