<div class="clock-container">
    <div class="outside-hours-container">
        <h1>HOURS</h1>
        <svg id="clocks-hour-svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 210 210">
            <defs>
                <style>.cls-1{fill:#f1f1f2;}.cls-2{fill:#8f8f8e;}.cls-3{fill:none;stroke:#8f8f8e;stroke-miterlimit:10;}.cls-4{fill:#42ace1; cursor: pointer;}.cls-5{font-size:14px;cursor: pointer;}.cls-5,.cls-6{fill:#2e3f50;font-family:Proxima Nova;}.cls-6{font-size:16px;}</style>
            </defs>
            <title>hours</title>


            <circle id="bigCircle" class="cls-1" cx="105" cy="105" r="101.5"/>
            <circle class="cls-2" cx="104.75" cy="105.21" r="3.83"/>

            <line id="line01" class="cls-3" x1="138.88" y1="45.9" x2="104.75" y2="105"/>
            <line id="line02" class="cls-3" x1="163.86" y1="70.89" x2="104.75" y2="105"/>
            <line id="line03" class="cls-3" x1="173" y1="105.02" x2="104.75" y2="105"/>
            <line id="line04" class="cls-3" x1="163.84" y1="139.15" x2="104.75" y2="105"/>
            <line id="line05" class="cls-3" x1="138.85" y1="164.12" x2="104.75" y2="105"/>
            <line id="line06" class="cls-3" x1="104.71" y1="173.25" x2="104.75" y2="105"/>
            <line id="line07" class="cls-3" x1="70.59" y1="164.09" x2="104.75" y2="105"/>
            <line id="line08" class="cls-3" x1="45.62" y1="139.08" x2="104.75" y2="105"/>
            <line id="line09" class="cls-3" x1="36.5" y1="104.95" x2="104.75" y2="105"/>
            <line id="line10" class="cls-3" x1="45.67" y1="70.82" x2="104.75" y2="105"/>
            <line id="line11" class="cls-3" x1="70.68" y1="45.86" x2="104.75" y2="105"/>
            <line id="line12" class="cls-3" x1="104.75" y1="36.75" x2="104.75" y2="105"/>

            <circle id="circle01" class="cls-4" cx="143.31" cy="38.42" r="12" transform="translate(38.39 143.32) rotate(-60)"/>
            <circle id="circle02" class="cls-4" cx="171.54" cy="66.65" r="12" transform="translate(-10.34 94.7) rotate(-30)"/>
            <circle id="circle03" class="cls-4" cx="181.87" cy="105.21" r="12"/>
            <circle id="circle04" class="cls-4" cx="171.54" cy="143.77" r="12" transform="matrix(0.5, -0.87, 0.87, 0.5, -38.74, 220.45)"/>
            <circle id="circle05" class="cls-4" cx="143.31" cy="172" r="12" transform="translate(-66.8 94.7) rotate(-30)"/>
            <circle id="circle06" class="cls-4" cx="104.75" cy="182.33" r="12"/>
            <circle id="circle07" class="cls-4" cx="66.19" cy="172" r="12" transform="matrix(0.5, -0.87, 0.87, 0.5, -115.86, 143.32)"/>
            <circle id="circle08" class="cls-4" cx="37.96" cy="143.77" r="12" transform="translate(-66.8 38.24) rotate(-30)"/>
            <circle id="circle09" class="cls-4" cx="27.62" cy="105.21" r="12"/>
            <circle id="circle10" class="cls-4" cx="37.96" cy="66.65" r="12" transform="matrix(0.5, -0.87, 0.87, 0.5, -38.74, 66.2)"/>
            <circle id="circle11" class="cls-4" cx="66.19" cy="38.42" r="12" transform="translate(-10.34 38.24) rotate(-30)"/>
            <circle id="circle12" class="cls-4" cx="104.75" cy="28.08" r="12"/>

            <text id="hour01" class="cls-5" transform="translate(136.78 42.91)" {{action 'clickHour' 'hour01' 'line01' 'circle01'}}>01</text>
            <text id="hour02" class="cls-5" transform="translate(165 71.14)" {{action 'clickHour' 'hour02' 'line02' 'circle02'}}>02</text>
            <text id="hour03" class="cls-5" transform="translate(175 109.7)" {{action 'clickHour' 'hour03' 'line03' 'circle03'}}>03</text>
            <text id="hour04" class="cls-5" transform="translate(165 148.26)" {{action 'clickHour' 'hour04' 'line04' 'circle04'}}>04</text>
            <text id="hour05" class="cls-5" transform="translate(136 176.49)" {{action 'clickHour' 'hour05' 'line05' 'circle05'}}>05</text>
            <text id="hour06" class="cls-5" transform="translate(97.5 186.82)" {{action 'clickHour' 'hour06' 'line06' 'circle06'}}>06</text>
            <text id="hour07" class="cls-5" transform="translate(60 176.49)" {{action 'clickHour' 'hour07' 'line07' 'circle07'}}>07</text>
            <text id="hour08" class="cls-5" transform="translate(31 148)" {{action 'clickHour' 'hour08' 'line08' 'circle08'}}>08</text>
            <text id="hour09" class="cls-5" transform="translate(21 109.7)" {{action 'clickHour' 'hour09' 'line09' 'circle09'}}>09</text>
            <text id="hour10" class="cls-5" transform="translate(30.5 71.14)" {{action 'clickHour' 'hour10' 'line10' 'circle10'}}>10</text>
            <text id="hour11" class="cls-5" transform="translate(59 42.91)" {{action 'clickHour' 'hour11' 'line11' 'circle11'}}>11</text>
            <text id="hour12" class="cls-5" transform="translate(97.26 32.57)" {{action 'clickHour' 'hour12' 'line12' 'circle12'}}>12</text>
        </svg>

    </div>

    <div class="outside-minutes-container">
        <div class="header-container">
            <h1>MINUTES</h1>
        </div>
        <div class="meridean-container">
            <div class="am-pm">
                <div class="am" {{action 'amClicked'}}>AM</div>
                <div class="pm" {{action 'pmClicked'}}>PM</div>
            </div>
        </div>
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 210 210">
            <defs>
                <style>.cls-1{fill:#f1f1f2;}.cls-min-2{fill:none;stroke:#8f8f8e;stroke-miterlimit:10;}.cls-min-3{fill:#42ace1;}.cls-min-4{font-size:14px;fill:#2e3f50;font-family:Proxima Nova;}.cls-min-5{fill:#8f8f8e;}</style>
            </defs>
            <title>minutes</title>
            <circle id="bigCircleMinutes" class="cls-1" cx="104.87496" cy="105.10482" r="101.5"/>

            {{!-- lines for minutes 00 - 04 --}}
            <line id="min00" class="cls-min-2" x1="104.99999" y1="36.74992" x2="104.99999" y2="105"/>
            <line id="min01" class="cls-min-2" x1="112.13993" y1="37.12442" x2="104.99999" y2="105.00001"/>
            <line id="min02" class="cls-min-2" x1="119.19575" y1="38.24257" x2="104.99999" y2="105.00001"/>
            <line id="min03" class="cls-min-2" x1="126.09604" y1="40.09214" x2="104.99999" y2="105.00001"/>
            <line id="min04" class="cls-min-2" x1="132.76519" y1="42.65285" x2="104.99999" y2="105.00001"/>

            {{!-- lines for minutes 05 - 09 --}}
            <line id="min05" class="cls-min-2" x1="139.13014" y1="45.89664" x2="104.99999" y2="105"/>
            <line id="min06" class="cls-min-2" x1="145.12593" y1="49.79146" x2="104.99999" y2="105.00001"/>
            <line id="min07" class="cls-min-2" x1="150.67698" y1="54.2882" x2="104.99999" y2="105.00001"/>
            <line id="min08" class="cls-min-2" x1="155.72758" y1="59.34055" x2="104.99999" y2="105.00001"/>
            <line id="min09" class="cls-min-2" x1="160.2224" y1="64.89315" x2="104.99999" y2="105.00001"/>

            {{!-- lines for minutes 10 - 14 --}}
            <line id="min10" class="cls-min-2" x1="164.1122" y1="70.88517" x2="104.99999" y2="105"/>
            <line id="min11" class="cls-min-2" x1="167.35674" y1="77.25636" x2="104.99999" y2="105.00001"/>
            <line id="min12" class="cls-min-2" x1="169.91515" y1="83.9264" x2="104.99999" y2="105.00001"/>
            <line id="min13" class="cls-min-2" x1="171.76233" y1="90.82732" x2="104.99999" y2="105.00001"/>
            <line id="min14" class="cls-min-2" x1="172.87804" y1="97.88352" x2="104.99999" y2="105.00001"/>

            {{!-- lines for minutes 15 - 19 --}}
            <line id="min15" class="cls-min-2" x1="173.25008" y1="105.01769" x2="104.99999" y2="105"/>
            <line id="min16" class="cls-min-2" x1="172.87373" y1="112.15754" x2="104.99999" y2="105.00001"/>
            <line id="min17" class="cls-min-2" x1="171.75374" y1="119.21307" x2="104.99999" y2="105.00001"/>
            <line id="min18" class="cls-min-2" x1="169.90239" y1="126.11287" x2="104.99999" y2="105.00001"/>
            <line id="min19" class="cls-min-2" x1="167.33995" y1="132.78136" x2="104.99999" y2="105.00001"/>

            {{!-- lines for minutes 20 - 21 --}}
            <line id="min20" class="cls-min-2" x1="164.0945" y1="139.14547" x2="104.99999" y2="105"/>
            <line id="min21" class="cls-min-2" x1="160.19814" y1="145.14025" x2="104.99999" y2="105.00001"/>
            <line id="min22" class="cls-min-2" x1="155.69996" y1="150.69014" x2="104.99999" y2="105.00001"/>
            <line id="min23" class="cls-min-2" x1="150.6463" y1="155.73943" x2="104.99999" y2="105.00001"/>
            <line id="min24" class="cls-min-2" x1="145.09253" y1="160.23281" x2="104.99999" y2="105.00001"/>

            {{!-- lines for minutes 25 - 29 --}}
            <line id="min25" class="cls-min-2" x1="139.0995" y1="164.12105" x2="104.99999" y2="105"/>
            <line id="min26" class="cls-min-2" x1="132.72748" y1="167.36395" x2="104.99999" y2="105.00001"/>
            <line id="min27" class="cls-min-2" x1="126.05678" y1="169.92062" x2="104.99999" y2="105.00001"/>
            <line id="min28" class="cls-min-2" x1="119.15537" y1="171.76601" x2="104.99999" y2="105.00001"/>
            <line id="min29" class="cls-min-2" x1="112.09888" y1="172.8799" x2="104.99999" y2="105.00001"/>

            {{!-- lines for minutes 30 - 34 --}}
            <line id="min30" class="cls-min-2" x1="104.96461" y1="173.25008" x2="104.99999" y2="105"/>
            <line id="min31" class="cls-min-2" x1="97.82487" y1="172.87189" x2="104.99999" y2="105.00001"/>
            <line id="min32" class="cls-min-2" x1="90.76963" y1="171.75007" x2="104.99999" y2="105.00001"/>
            <line id="min33" class="cls-min-2" x1="83.8703" y1="169.89693" x2="104.99999" y2="105.00001"/>
            <line id="min34" class="cls-min-2" x1="77.20248" y1="167.33276" x2="104.99999" y2="105.00001"/>

            {{!-- lines for minutes 35 - 39 --}}
            <line id="min35" class="cls-min-2" x1="70.83921" y1="164.08567" x2="104.99999" y2="105"/>
            <line id="min36" class="cls-min-2" x1="64.84544" y1="160.18775" x2="104.99999" y2="105.00001"/>
            <line id="min37" class="cls-min-2" x1="59.29672" y1="155.68813" x2="104.99999" y2="105.00001"/>
            <line id="min38" class="cls-min-2" x1="54.24874" y1="150.63316" x2="104.99999" y2="105.00001"/>
            <line id="min39" class="cls-min-2" x1="49.7568" y1="145.07823" x2="104.99999" y2="105.00001"/>

            {{!-- lines for minutes 40 - 44 --}}
            <line id="min40" class="cls-min-2" x1="45.87011" y1="139.08419" x2="104.99999" y2="105"/>
            <line id="min41" class="cls-min-2" x1="42.62887" y1="132.71133" x2="104.99999" y2="105.00001"/>
            <line id="min42" class="cls-min-2" x1="40.07392" y1="126.03997" x2="104.99999" y2="105.00001"/>
            <line id="min43" class="cls-min-2" x1="38.23032" y1="119.13808" x2="104.99999" y2="105.00001"/>
            <line id="min44" class="cls-min-2" x1="37.11826" y1="112.0813" x2="104.99999" y2="105.00001"/>

            {{!-- lines for minutes 45 - 49 --}}
            <line id="min45" class="cls-min-2" x1="36.74992" y1="104.94693" x2="104.99999" y2="105"/>
            <line id="min46" class="cls-min-2" x1="37.12998" y1="97.80729" x2="104.99999" y2="105.00001"/>
            <line id="min47" class="cls-min-2" x1="38.25362" y1="90.75234" x2="104.99999" y2="105.00001"/>
            <line id="min48" class="cls-min-2" x1="40.10855" y1="83.8535" x2="104.99999" y2="105.00001"/>
            <line id="min49" class="cls-min-2" x1="42.67444" y1="77.18634" x2="104.99999" y2="105.00001"/>

            {{!-- lines for minutes 50 - 54 --}}
            <line id="min50" class="cls-min-2" x1="45.92319" y1="70.82391" x2="104.99999" y2="105"/>
            <line id="min51" class="cls-min-2" x1="49.82266" y1="64.83116" x2="104.99999" y2="105.00001"/>
            <line id="min52" class="cls-min-2" x1="54.32372" y1="59.2836" x2="104.99999" y2="105.00001"/>
            <line id="min53" class="cls-min-2" x1="59.37999" y1="54.23693" x2="104.99999" y2="105.00001"/>
            <line id="min54" class="cls-min-2" x1="64.93609" y1="49.74642" x2="104.99999" y2="105.00001"/>

            {{!-- lines for minutes 55 - 59 --}}
            <line id="min55" class="cls-min-2" x1="70.93114" y1="45.86129" x2="104.99999" y2="105"/>
            <line id="min56" class="cls-min-2" x1="77.24018" y1="42.65045" x2="104.99999" y2="105.00001"/>
            <line id="min57" class="cls-min-2" x1="83.90956" y1="40.09032" x2="104.99999" y2="105.00001"/>
            <line id="min58" class="cls-min-2" x1="90.81" y1="38.24135" x2="104.99999" y2="105.00001"/>
            <line id="min59" class="cls-min-2" x1="97.86591" y1="37.1238" x2="104.99999" y2="105.00001"/>



            <circle class="cls-min-3" cx="27.87496" cy="105" r="12"/>
            <circle class="cls-min-3" cx="182.12504" cy="105" r="12"/>
            <circle class="cls-min-3" cx="38.20775" cy="143.56252" r="12" transform="translate(-66.66239 38.33761) rotate(-30)"/>
            <circle class="cls-min-3" cx="171.79225" cy="66.43748" r="12" transform="translate(-10.20294 94.79706) rotate(-30)"/>
            <circle class="cls-min-3" cx="66.43748" cy="171.79225" r="12" transform="translate(-115.55771 143.43267) rotate(-60)"/>
            <circle class="cls-min-3" cx="143.56252" cy="38.20775" r="12" transform="matrix(0.5, -0.86603, 0.86603, 0.5, 38.69238, 143.43267)"/>
            <circle class="cls-min-3" cx="105" cy="182.12504" r="12"/>
            <circle class="cls-min-3" cx="105" cy="27.87496" r="12"/>
            <circle class="cls-min-3" cx="143.56252" cy="171.79225" r="12" transform="translate(-66.66239 94.79706) rotate(-30)"/>
            <circle class="cls-min-3" cx="66.43748" cy="38.20775" r="12" transform="translate(-10.20294 38.33761) rotate(-30)"/>
            <circle class="cls-min-3" cx="171.79225" cy="143.56252" r="12" transform="matrix(0.5, -0.86603, 0.86603, 0.5, -38.43267, 220.55771)"/>
            <circle class="cls-min-3" cx="38.20775" cy="66.43748" r="12" transform="matrix(0.5, -0.86603, 0.86603, 0.5, -38.43267, 66.30762)"/>
            <circle class="cls-min-3" cx="28.29746" cy="113.06176" r="12" transform="translate(-11.66316 3.57725) rotate(-6)"/>
            <circle class="cls-min-3" cx="181.70254" cy="96.93824" r="12" transform="matrix(0.99452, -0.10453, 0.10453, 0.99452, -9.13742, 19.52413)"/>
            <circle class="cls-min-3" cx="42.60453" cy="150.33296" r="12" transform="translate(-80.22676 53.75336) rotate(-36)"/>
            <circle class="cls-min-3" cx="167.39547" cy="59.66704" r="12" transform="translate(-3.10171 109.78798) rotate(-36)"/>
            <circle class="cls-min-3" cx="73.63042" cy="175.45723" r="12" transform="translate(-116.60593 171.35708) rotate(-66)"/>
            <circle class="cls-min-3" cx="136.36958" cy="34.54277" r="12" transform="translate(49.34669 145.07277) rotate(-66)"/>
            <circle class="cls-min-3" cx="113.06176" cy="181.70254" r="12" transform="translate(-18.37372 12.81356) rotate(-6)"/>
            <circle class="cls-min-3" cx="96.93824" cy="28.29746" r="12" transform="translate(-2.42685 10.28782) rotate(-6)"/>
            <circle class="cls-min-3" cx="150.33296" cy="167.39547" r="12" transform="translate(-69.68155 120.33319) rotate(-36)"/>
            <circle class="cls-min-3" cx="59.66704" cy="42.60453" r="12" transform="translate(-13.64692 43.20815) rotate(-36)"/>
            <circle class="cls-min-3" cx="175.45723" cy="136.36958" r="12" transform="translate(-20.48746 241.19123) rotate(-66)"/>
            <circle class="cls-min-3" cx="34.54277" cy="73.63042" r="12" transform="translate(-46.77178 75.23862) rotate(-66)"/>
            <circle class="cls-min-3" cx="29.56032" cy="121.0352" r="12" transform="translate(-24.51867 8.79085) rotate(-12)"/>
            <circle class="cls-min-3" cx="180.43968" cy="88.9648" r="12" transform="translate(-14.55378 39.45961) rotate(-12)"/>
            <circle class="cls-min-3" cx="47.68492" cy="156.60673" r="12" transform="translate(-92.54223 72.13269) rotate(-42)"/>
            <circle class="cls-min-3" cx="162.31508" cy="53.39327" r="12" transform="translate(5.96439 122.32432) rotate(-42)"/>
            <circle class="cls-min-3" cx="81.16705" cy="178.35027" r="12" transform="matrix(0.30902, -0.95106, 0.95106, 0.30902, -113.53614, 200.43146)"/>
            <circle class="cls-min-3" cx="128.83295" cy="31.64973" r="12" transform="translate(58.9207 144.39684) rotate(-72)"/>
            <circle class="cls-min-3" cx="121.0352" cy="180.43968" r="12" transform="translate(-34.87061 29.10767) rotate(-12)"/>
            <circle class="cls-min-3" cx="88.9648" cy="29.56032" r="12" transform="translate(-4.20184 19.14279) rotate(-12)"/>
            <circle class="cls-min-3" cx="156.60673" cy="162.31508" r="12" transform="translate(-68.38474 146.48182) rotate(-42)"/>
            <circle class="cls-min-3" cx="53.39327" cy="47.68492" r="12" transform="translate(-18.1931 47.97519) rotate(-42)"/>
            <circle class="cls-min-3" cx="178.35027" cy="128.83295" r="12" transform="translate(0.70959 258.64257) rotate(-72)"/>
            <circle class="cls-min-3" cx="31.64973" cy="81.16705" r="12" transform="translate(-55.32503 86.18573) rotate(-72)"/>
            <circle class="cls-min-3" cx="31.64973" cy="128.83295" r="12" transform="translate(-38.26252 16.08584) rotate(-18)"/>
            <circle class="cls-min-3" cx="178.35027" cy="81.16705" r="12" transform="translate(-16.35291 59.08586) rotate(-18)"/>
            <circle class="cls-min-3" cx="53.39327" cy="162.31508" r="12" transform="translate(-102.95741 93.38403) rotate(-48)"/>
            <circle class="cls-min-3" cx="156.60673" cy="47.68492" r="12" transform="translate(16.37957 132.15896) rotate(-48)"/>
            <circle class="cls-min-3" cx="88.9648" cy="180.43968" r="12" transform="translate(-106.02866 229.94486) rotate(-78)"/>
            <circle class="cls-min-3" cx="121.0352" cy="29.56032" r="12" transform="translate(66.9562 141.80468) rotate(-78)"/>
            <circle class="cls-min-3" cx="128.83295" cy="178.35027" r="12" transform="translate(-48.80773 48.54065) rotate(-18)"/>
            <circle class="cls-min-3" cx="81.16705" cy="31.64973" r="12" transform="translate(-5.8077 26.63105) rotate(-18)"/>
            <circle class="cls-min-3" cx="162.31508" cy="156.60673" r="12" transform="translate(-62.67639 172.43998) rotate(-48)"/>
            <circle class="cls-min-3" cx="47.68492" cy="53.39327" r="12" transform="translate(-23.90145 53.103) rotate(-48)"/>
            <circle class="cls-min-3" cx="180.43968" cy="121.0352" r="12" transform="translate(24.53387 272.3672) rotate(-78)"/>
            <circle class="cls-min-3" cx="29.56032" cy="88.9648" r="12" transform="translate(-63.60632 99.38234) rotate(-78)"/>
            <circle class="cls-min-3" cx="34.54277" cy="136.36958" r="12" transform="translate(-52.48013 25.83958) rotate(-24)"/>
            <circle class="cls-min-3" cx="175.45723" cy="73.63042" r="12" transform="translate(-14.77911 77.73057) rotate(-24)"/>
            <circle class="cls-min-3" cx="59.66704" cy="167.39547" r="12" transform="translate(-110.83015 117.27453) rotate(-54)"/>
            <circle class="cls-min-3" cx="150.33296" cy="42.60453" r="12" transform="translate(27.50168 139.18414) rotate(-54)"/>
            <circle class="cls-min-3" cx="96.93824" cy="181.70254" r="12" transform="translate(-93.90173 259.11666) rotate(-84)"/>
            <circle class="cls-min-3" cx="113.06176" cy="28.29746" r="12" transform="translate(73.10115 137.78196) rotate(-84)"/>
            <circle class="cls-min-3" cx="136.36958" cy="175.45723" r="12" transform="translate(-59.57512 70.63558) rotate(-24)"/>
            <circle class="cls-min-3" cx="73.63042" cy="34.54277" r="12" transform="translate(-7.68413 32.93457) rotate(-24)"/>
            <circle class="cls-min-3" cx="167.39547" cy="150.33296" r="12" transform="translate(-52.61904 197.39524) rotate(-54)"/>
            <circle class="cls-min-3" cx="42.60453" cy="59.66704" r="12" transform="translate(-30.70943 59.06342) rotate(-54)"/>
            <circle class="cls-min-3" cx="181.70254" cy="113.06176" r="12" transform="translate(50.26706 281.95075) rotate(-84)"/>
            <circle class="cls-min-3" cx="28.29746" cy="96.93824" r="12" transform="translate(-71.06763 114.94787) rotate(-84)"/>

            <text class="cls-min-4" transform="translate(96.18115 32.57251)">00</text>
            <text class="cls-min-4" transform="translate(96.69165 186.82202)">30</text>
            <text class="cls-min-4" transform="translate(29.89258 148.25952)">40</text>
            <text class="cls-min-4" transform="translate(58.28296 176.48975)">35</text>
            <text class="cls-min-4" transform="translate(135.19141 176.48926)">25</text>
            <text class="cls-min-4" transform="translate(163.26636 148.25952)">20</text>
            <text class="cls-min-4" transform="translate(58.05176 42.90552)">55</text>
            <text class="cls-min-4" transform="translate(29.66846 71.13501)">50</text>
            <text class="cls-min-4" transform="translate(165.0105 71.13501)">10</text>
            <text class="cls-min-4" transform="translate(135.02393 42.90527)">05</text>
            <text class="cls-min-4" transform="translate(175.49707 109.69751)">15</text>
            <text class="cls-min-4" transform="translate(19.71289 109.69751)">45</text>

            <circle class="cls-min-5" cx="104.87496" cy="105.10482" r="3.83185"/>
        </svg>
    </div>
</div>
