
<div class="paper-datetime-picker">
  <div class="inputContainer">

    <div class="top-dialog-container">
      {{#if showDialogTop}}
          {{interfaces/combined-picker timestamp=timestamp maxDate=maxDate minDate=minDate activeSection=activeSection updateActive=updateActive destroyElements=destroyElements}}
      {{/if}}
    </div>

    <div class="inputInDate">
      <div class="monthContainer">
          {{input type="text" class="month" type="text"  maxlength="2" value=timestampMonths key-up=(action 'resetKeyUp') key-down=(action 'keyUpDownHandler' 'months') focus-in=(action 'focusInput' 'month') click=(action 'focusInput' 'month')}}
      </div>
      <div class="monthSlash">/</div>
      <div class="dayContainer">
          {{input class="day" type="text" maxlength="2" value=timestampDays key-up=(action 'resetKeyUp') key-down=(action 'keyUpDownHandler' 'days') focus-in=(action 'focusInput' 'day') click=(action 'focusInput' 'day')}}
      </div>
      <div class="daySlash">/</div>
      <div class="yearContainer">
          {{input class="year" type="text" maxlength="4" value=timestampYears key-up=(action 'resetKeyUp') key-down=(action 'keyUpDownHandler' 'years') focus-in=(action 'focusInput' 'year') click=(action 'focusInput' 'year')}}
      </div>
  </div>

  <div class="inputInTime">
      <div class="hourContainer">
          {{input type="text" class="hour" maxlength="2" value=timestampHours  key-down=(action 'keyUpDownHours') focus-in=(action 'focusInput' 'hour') click=(action 'focusInput' 'hour')}}
      </div>
      <div class="timeColon">:</div>
      <div class="minuteContainer">
          {{input type="text" class="minute" maxlength="2" value=timestampMinutes  key-down=(action 'keyUpDownMinutes') focus-in=(action 'focusInput' 'minute') click=(action 'focusInput' 'minute')}}
      </div>
      <div class="merideanContainer">
          {{input type="text" class="am-pm" maxlength="2" value=timestampMeridian key-down=(action 'meridianKeyHandler') focus-in=(action 'focusInput' 'meridean') click=(action 'focusInput' 'meridean')}}
      </div>
  </div>

  <div class="bottom-dialog-container">
    {{#if showDialogBottom}}
        {{interfaces/combined-picker timestamp=timestamp maxDate=maxDate minDate=minDate activeSection=activeSection updateActive=updateActive destroyElements=destroyElements}}
    {{/if}}
  </div>

  </div>
</div>
