<div class="paper-new-time-entry">
    <div class="inputContainer">
        <div class="inputHeader">
            <div class="headerInDate">IN DATE</div>
            <div class="headerInTime">IN TIME</div>
            <div class="headerOutDate">OUT DATE</div>
            <div class="headerOutTime">OUT TIME</div>
        </div>

        {{!-- in date inputs --}}
        <div class="inputBody">
            <div class="inputInDate">
                <div class="monthContainer">
                    {{input class="month" type="text" maxlength="2" value=clockInMonths key-down='addMonths'}}
                </div>
                <div class="monthSlash">/</div>
                <div class="dayContainer">
                    {{input class="day" type="text" maxlength="2" value=clockInDays key-down='addDays'}}
                </div>
                <div class="daySlash">/</div>
                <div class="yearContainer">
                    {{input class="year" type="text" maxlength="4" value=clockInYears key-down='addYears'}}
                </div>
            </div>

            {{!-- in time inputs  --}}
            <div class="inputInTime">
                <div class="hourContainer">
                    {{input type="text" class="hour" maxlength="2" value=clockInHours  key-down='addHours'}}
                </div>
                <div class="timeColon">:</div>
                <div class="minuteContainer">
                    {{input type="text" class="minute" maxlength="2" value=clockInMinutes  key-down='addMinutes'}}
                </div>
                <div class="merideanContainer">
                    {{input type="text" class="am-pm" maxlength="2" value=clockInMeridian}}
                </div>
                <div class="dividingDash">-</div>
            </div>

            <div class="inputOutDate">
                <div class="monthContainer">
                    {{input class="month" type="text" maxlength="2" value=clockOutMonths}}
                </div>
                <div class="monthSlash">/</div>
                <div class="dayContainer">
                    {{input class="day" type="text" maxlength="2" value=clockOutDays}}
                </div>
                <div class="daySlash">/</div>
                <div class="yearContainer">
                    {{input class="year" type="text" maxlength="4" value=clockOutYears}}
                </div>
            </div>

            <div class="inputOutTime">
                <div class="hourContainer">
                    {{input type="text" class="hour" maxlength="2" value=clockOutHours}}
                </div>
                <div class="timeColon">:</div>
                <div class="minuteContainer">
                    {{input type="text" class="minute" maxlength="2" value=clockOutMinutes}}
                </div>
                <div class="merideanContainer">
                    {{input type="text" class="am-pm" maxlength="2" value=clockOutMeridian}}
                </div>
            </div>
        </div>
    </div>
</div>

{{paper-time-picker}}
