<div class="paper-new-time-entry">
    <div class="inputContainer">
        <div class="inputHeader">
            <div class="headerInDate">IN DATE</div>
            <div class="headerInTime">IN TIME</div>
            <div class="headerOutDate">OUT DATE</div>
            <div class="headerOutTime">OUT TIME</div>
        </div>

        {{!-- in date inputs --}}
        <div class="inputBody">
            <div class="inputInDate">
                <div class="monthContainer">
                    {{input id="clockInMonths" type="number" max="12" class="month" type="text"  maxlength="2" value=clockInMonths key-down=(action 'keyUpDownHandler' 'inTimestamp' 'months')  focus-out=(action 'focusOutClockMonth' 'inTimestamp' 'clockInMonths') focus-in=(action 'focusInput' '#clockInMonths') key-up=(action 'checkAutoTab' '#clockInDays')}}
                </div>
                <div class="monthSlash">/</div>
                <div class="dayContainer">
                    {{input id="clockInDays" class="day" type="text" maxlength="2" value=clockInDays key-down=(action 'keyUpDownHandler' 'inTimestamp' 'days') focus-out=(action 'focusOutClockDay' 'inTimestamp' 'clockInDays') focus-in=(action 'focusInput' '#clockInDays') key-up=(action 'checkAutoTab' '#clockInYears')}}
                </div>
                <div class="daySlash">/</div>
                <div class="yearContainer">
                    {{input id="clockInYears" class="year" type="text" maxlength="4" value=clockInYears key-down=(action 'keyUpDownHandler' 'inTimestamp' 'years') focus-out=(action 'focusOutClockYear' 'inTimestamp' 'clockInYears') focus-in=(action 'focusInput' '#clockInYears') key-up=(action 'checkAutoTab' '#clockInHours')}}
                </div>
            </div>

            {{!-- in time inputs  --}}
            <div class="inputInTime">
                <div class="hourContainer">
                    {{input id="clockInHours" type="text" class="hour" maxlength="2" value=clockInHours  key-down=(action 'keyUpDownHours' 'inTimestamp' 'clockInHours') focus-out=(action 'focusOutClockHour' 'inTimestamp' 'clockInHours' 'clockInMeridian') focus-in=(action 'focusInput' '#clockInHours' 'showInTimeClock') key-up=(action 'checkAutoTab' '#clockInMinutes')}}
                </div>
                <div class="timeColon">:</div>
                <div class="minuteContainer">
                    {{input id="clockInMinutes" type="text" class="minute" maxlength="2" value=clockInMinutes  key-down=(action 'keyUpDownMinutes' 'inTimestamp' 'clockInMinutes') focus-out=(action 'focusOutClockMinute' 'inTimestamp' 'clockInMinutes') focus-in=(action 'focusInput' '#clockInMinutes' 'showInTimeClock') key-up=(action 'checkAutoTab' '#clockInMeridian')}}
                </div>
                <div class="merideanContainer">
                    {{input id="clockInMeridian" type="text" class="am-pm" maxlength="2" value=clockInMeridian key-down='clockInMeridianKeyDown' focus-out=(action 'focusOutClockMeridian' 'inTimestamp' 'clockInMeridian') focus-in=(action 'focusInput' '#clockInMeridian' 'showInTimeClock') key-up=(action 'checkAutoTab' '#clockOutMonths')}}
                </div>
                <div class="dividingDash">-</div>
            </div>

            <div class="inputOutDate">
                <div class="monthContainer">
                    {{input id="clockOutMonths" class="month" type="text" maxlength="2" value=clockOutMonths key-down=(action 'keyUpDownHandler' 'outTimestamp' 'months') focus-out=(action 'focusOutClockMonth' 'outTimestamp' 'clockOutMonths') focus-in=(action 'focusInput' '#clockOutMonths') key-up=(action 'checkAutoTab' '#clockOutDays')}}
                </div>
                <div class="monthSlash">/</div>
                <div class="dayContainer">
                    {{input id="clockOutDays" class="day" type="text" maxlength="2" value=clockOutDays key-down=(action 'keyUpDownHandler' 'outTimestamp' 'days') focus-out=(action 'focusOutClockDay' 'outTimestamp' 'clockOutDays') focus-in=(action 'focusInput' '#clockOutDays') key-up=(action 'checkAutoTab' '#clockOutYears')}}
                </div>
                <div class="daySlash">/</div>
                <div class="yearContainer">
                    {{input id="clockOutYears" class="year" type="text" maxlength="4" value=clockOutYears key-down=(action 'keyUpDownHandler' 'outTimestamp' 'years') focus-out=(action 'focusOutClockYear' 'outTimestamp' 'clockOutYears')  focus-in=(action 'focusInput' '#clockOutYears') key-up=(action 'checkAutoTab' '#clockOutHours')}}
                </div>
            </div>

            <div class="inputOutTime">
                <div class="hourContainer">
                    {{input id="clockOutHours" type="text" class="hour" maxlength="2" value=clockOutHours key-down=(action 'keyUpDownHours' 'outTimestamp' 'clockOutHours') focus-out=(action 'focusOutClockHour' 'outTimestamp' 'clockOutHours' 'clockOutMeridian') focus-in=(action 'focusInput' '#clockOutHours' 'showOutTimeClock') key-up=(action 'checkAutoTab' '#clockOutMinutes')}}
                </div>
                <div class="timeColon">:</div>
                <div class="minuteContainer">
                    {{input id="clockOutMinutes" type="text" class="minute" maxlength="2" value=clockOutMinutes key-down=(action 'keyUpDownMinutes' 'outTimestamp' 'clockOutMinutes') focus-out=(action 'focusOutClockMinute' 'outTimestamp' 'clockOutMinutes') focus-in=(action 'focusInput' '#clockOutMinutes' 'showOutTimeClock') key-up=(action 'checkAutoTab' '#clockOutMeridian')}}
                </div>
                <div class="merideanContainer">
                    {{input id="clockOutMeridian" type="text" class="am-pm" maxlength="2" value=clockOutMeridian key-down='clockOutMeridianKeyDown' focus-out=(action 'focusOutClockMeridian' 'outTimestamp' 'clockOutMeridian')  focus-in=(action 'focusInput' '#clockOutMeridian' 'showOutTimeClock') key-up=(action 'checkAutoTab' '#unFocus')}}
                </div>
            </div>
        </div>
    </div>
</div>

{{#if showInTimeClock}}
    {{paper-time-picker timestamp=inTimestamp}}
{{/if}}

{{#if showOutTimeClock}}
    {{paper-time-picker timestamp=outTimestamp}}
{{/if}}
