
<div class="menu">
	<a class="button select" {{action 'toggleList'}}>{{selected.name}}</a>

	<span class="arrows">
		<a class="button arrow left{{if disablePrev ' disabled'}}" {{action 'intervalBack'}}><span></span></a>
		<a class="button arrow right{{if disableNext ' disabled'}}" {{action 'intervalForward'}}><span></span></a>
	</span>

	<span class="date">{{selectedDateRange}}</span>
</div>

<ul class="list{{if isListOpen ' active'}}">
	{{#each actionList as |item idx|}}
		<li class="item{{if item.selected ' active'}}" {{action 'selectItem' idx}}>{{item.name}}</li>
	{{/each}}

	<li class="item custom{{if isCustom ' active'}}" {{action 'selectCustom'}}>{{loc "Custom"}}</li>

	<li class="picker{{if isCustom ' active'}}">
		<div class="header">
			<span class="state start{{if isStart ' open'}}">
				{{input-date value=_start onClick=(action 'setFocus' 'start') onFocus=(action 'setFocus' 'start') onTabKey=(action 'tabAction') onChange=(action 'dateChange')}}
			</span>

			<span>{{busy-loc "to"}}</span>

			<span class="state end{{if isStart '' ' open'}}">
				{{input-date value=_end onClick=(action 'setFocus' 'end') onFocus=(action 'setFocus' 'end') onTabKey=(action 'tabAction') onChange=(action 'dateChange')}}
			</span>
		</div>

		<div class="body">
			{{interfaces/date-picker paperDate=paper activeState=activeState onChange=(action 'updateTime')}}
		</div>

		<div class="footer">
			<a class="button blue" {{action 'applyRange'}}>{{busy-loc "Apply"}}</a>
			<a class="button text" {{action 'cancelRange'}}>{{busy-loc "Cancel"}}</a>
		</div>
	</li>
</ul>
