<div class="paper-new-time-entry">
    <div class="inputContainer">
        <div class="inputHeader">
            <div class="headerInDate">IN DATE</div>
            <div class="headerInTime">IN TIME</div>
            <div class="headerOutDate">OUT DATE</div>
            <div class="headerOutTime">OUT TIME</div>
        </div>

        {{!-- in date inputs --}}
        <div class="inputBody">
            <div class="inputInDate">
                <div class="monthContainer">
                    {{input class="month" type="text"  maxlength="2" value=clockInMonths key-down=(action 'keyUpDownClockMonths' 'inTimestamp' 'clockInMonths')  focus-out=(action 'focusOutClockMonth' 'inTimestamp' 'clockInMonths')}}
                </div>
                <div class="monthSlash">/</div>
                <div class="dayContainer">
                    {{input class="day" type="text" maxlength="2" value=clockInDays key-down=(action 'keyUpDownIn') focus-out=(action 'focusOutClockDay' 'inTimestamp' 'clockInDays')}}
                </div>
                <div class="daySlash">/</div>
                <div class="yearContainer">
                    {{input class="year" type="text" maxlength="4" value=clockInYears key-down=(action 'keyUpDownIn') focus-out=(action 'focusOutClockYear' 'inTimestamp' 'clockInYears')}}
                </div>
            </div>

            {{!-- in time inputs  --}}
            <div class="inputInTime">
                <div class="hourContainer">
                    {{input type="text" class="hour" maxlength="2" value=clockInHours  key-down=(action 'keyUpDownIn') focus-out=(action 'focusOutClockHour' 'inTimestamp' 'clockInHours')}}
                </div>
                <div class="timeColon">:</div>
                <div class="minuteContainer">
                    {{input type="text" class="minute" maxlength="2" value=clockInMinutes  key-down=(action 'keyUpDownIn') focus-out=(action 'focusOutClockMinute' 'inTimestamp' 'clockInMinutes')}}
                </div>
                <div class="merideanContainer">
                    {{input type="text" class="am-pm" maxlength="2" value=clockInMeridian key-down='clockInMeridianKeyDown' focus-out=(action 'focusOutClockMeridian' 'inTimestamp' 'clockInMeridian')}}
                </div>
                <div class="dividingDash">-</div>
            </div>

            <div class="inputOutDate">
                <div class="monthContainer">
                    {{input class="month" type="text" maxlength="2" value=clockOutMonths key-down=(action 'keyUpDownClockMonths' 'outTimestamp' 'clockOutMonths') focus-out=(action 'focusOutClockMonth' 'outTimestamp' 'clockOutMonths')}}
                </div>
                <div class="monthSlash">/</div>
                <div class="dayContainer">
                    {{input class="day" type="text" maxlength="2" value=clockOutDays key-down=(action 'keyUpDownOut') focus-out=(action 'focusOutClockDay' 'outTimestamp' 'clockOutDays')}}
                </div>
                <div class="daySlash">/</div>
                <div class="yearContainer">
                    {{input class="year" type="text" maxlength="4" value=clockOutYears key-down=(action 'keyUpDownOut') focus-out=(action 'focusOutClockYear' 'outTimestamp' 'clockOutYears')}}
                </div>
            </div>

            <div class="inputOutTime">
                <div class="hourContainer">
                    {{input type="text" class="hour" maxlength="2" value=clockOutHours key-down=(action 'keyUpDownOut') focus-out=(action 'focusOutClockHour' 'outTimestamp' 'clockOutHours')}}
                </div>
                <div class="timeColon">:</div>
                <div class="minuteContainer">
                    {{input type="text" class="minute" maxlength="2" value=clockOutMinutes key-down=(action 'keyUpDownOut') focus-out=(action 'focusOutClockMinute' 'outTimestamp' 'clockOutMinutes')}}
                </div>
                <div class="merideanContainer">
                    {{input type="text" class="am-pm" maxlength="2" value=clockOutMeridian key-down='clockOutMeridianKeyDown' focus-out=(action 'focusOutClockMeridian' 'outTimestamp' 'clockOutMeridian')}}
                </div>
            </div>
        </div>
    </div>
</div>

{{paper-time-picker}}
