
<div class="calender-container">

    <div class="header-container">

        <div class="day-of-week">{{dayOfWeek}}</div>

        <div class="month-container">


            <div class="month">{{month}}</div>


        </div>

        <div class="day-of-month">{{day}}</div>

        <div class="year-container">

            {{!-- <div class="subtract-year" {{action "subtractYear"}}></div> --}}

            <div class="year">{{year}}</div>

            {{!-- <div class="add-year" {{action "addYear"}}></div> --}}

        </div>

    </div>

    <hr>

    <div class="calender-body">

        <div class="header">

            <div class="subtract-month" {{action "subtractMonth"}}></div>

            <div class="month-year">{{monthYear}}</div>

            <div class="add-month" {{action "addMonth"}}></div>

        </div>

        <table class="calender">
            <tr>
                <th>S</th>
                <th>M</th>
                <th>T</th>
                <th>W</th>
                <th>T</th>
                <th>F</th>
                <th>S</th>
            </tr>

        {{#each groupedArray as |week|}}
            <tr>
                {{#each week as |day|}}
                    {{#if day}}
                        {{#if day.isDisabled}}
                            <td class="disabled-day">{{formatDay day}}</td>
                        {{else}}
                            <td class="valid-day" {{action "dayClicked" day}}>{{formatDay day}}</td>
                        {{/if}}
                    {{else}}
                        <td class="invalid-day"></td>
                    {{/if}}
                {{/each}}
            </tr>
        {{/each}}

        </table>

    </div>

</div>
