
<div class="picker-container">
	{{#if isClock}}
		{{interfaces/time-picker paperDate=paperDate activeState=activeState onUpdate=(action 'update')}}
	{{/if}}

	{{#if isCalendar}}
		{{interfaces/date-picker paperDate=paperDate activeState=activeState onUpdate=(action 'update') onChange=(action 'change')}}
	{{/if}}

	<div class="picker-footer">
		{{#if isClock}}
			{{#if activeState.showDate}}
				<div class="current-date keepOpen" {{action 'togglePicker' 'isClock' bubbles=false}}>{{currentDate}}</div>
			{{else}}
				<div class="current-date keepOpen"></div>
			{{/if}}
			<div class="ok" {{action 'close' bubbles=false}}>OK</div>
			<div class="cancel" {{action 'cancel' bubbles=false}}>Cancel</div>
		{{/if}}

		{{#if isCalendar}}
			{{#if activeState.showTime}}
				<div class="current-date keepOpen" {{action 'togglePicker' 'isCalendar' bubbles=false}}>{{currentTime}}</div>
			{{else}}
				<div class="current-date keepOpen"></div>
			{{/if}}
			<div class="ok" {{action 'close' bubbles=false}}>OK</div>
			<div class="cancel" {{action 'cancel' bubbles=false}}>Cancel</div>
		{{/if}}
	</div>
</div>
