
<div class="picker-container">

    {{#if isClock}}
        {{interfaces/time-picker timestamp=timestamp minDate=minDate maxDate=maxDate}}
    {{/if}}

    {{#if isCalender}}
        {{interfaces/date-picker timestamp=timestamp minDate=minDate maxDate=maxDate}}
    {{/if}}

    <div class="picker-footer">

        {{#if isClock}}
            <div class="current-date" {{action 'togglePicker' 'isClock'}}>{{currentDate}}</div>
        {{/if}}

        {{#if isCalender}}
            <div class="current-date" {{action 'togglePicker' 'isCalender'}}>{{currentTime}}</div>
        {{/if}}
    </div>

</div>
