
<div class="picker-container">

    {{#if isClock}}
        {{interfaces/time-picker timestamp=timestamp minDate=minDate maxDate=maxDate minuteOrHour=minuteOrHour}}
    {{/if}}

    {{#if isCalender}}
        {{interfaces/date-picker timestamp=timestamp minDate=minDate maxDate=maxDate minuteOrHour=minuteOrHour}}
    {{/if}}

    <div class="picker-footer">

        {{#if isClock}}
            <div class="current-date" {{action 'togglePicker' 'isClock'}}>{{currentDate}}</div>
            <div class="ok" {{action 'close'}}>OK</div>
            <div class="cancel" {{action 'cancel'}}>Cancel</div>
        {{/if}}

        {{#if isCalender}}
            <div class="current-date" {{action 'togglePicker' 'isCalender'}}>{{currentTime}}</div>
            <div class="ok" {{action 'close'}}>OK</div>
            <div class="cancel" {{action 'cancel'}}>Cancel</div>
        {{/if}}


    </div>

</div>
