
<div class="calender-container">

    <div class="header-container">

        <div class="day-of-week">{{dayOfWeek}}</div>

        <div class="month-container">


            <div class="month">{{month}}</div>


        </div>

        <div class="day-of-month">{{day}}</div>

        <div class="year-container">

            <div class="year">{{year}}</div>

        </div>

    </div>

    <div class="calender-body">

        <div class="header">

            <div class="subtract-month" {{action "subtractMonth"}}></div>

            <div class="month-year">{{monthYear}}</div>

            <div class="add-month" {{action "addMonth"}}></div>

        </div>

        <table class="calender">
            <tr>
                <th>S</th>
                <th>M</th>
                <th>T</th>
                <th>W</th>
                <th>T</th>
                <th>F</th>
                <th>S</th>
            </tr>

        {{#each groupedArray as |week|}}
          <tr>
            {{#each week as |day|}}
                {{#if day}}
                    {{#if day.isDisabled}}
                        <td class="disabled-day">{{day.dayOfMonth}}</td>
                    {{else}}
                        {{#if day.isCurrentDay}}
                            <td class="valid-day current-day" {{action "dayClicked" day}}>{{day.dayOfMonth}}</td>
                        {{else}}
                            <td class="valid-day" {{action "dayClicked" day}}>{{day.dayOfMonth}}</td>
                        {{/if}}
                    {{/if}}
                {{else}}
                    <td class="invalid-day"></td>
                {{/if}}
            {{/each}}
          </tr>
        {{/each}}

        </table>

    </div>

</div>
