
<div class="clock-container">

    <div class="clockHourHeader">
        <div class="dateContainer">
            <div class="numbers-container">
                <div class="hours-header {{hoursHeaderState}}" {{action "hourHeaderClicked"}}>{{hours}}</div>
                <div class="colon">:</div>
                <div class="minutes-header {{minutesHeaderState}}" {{action "minuteHeaderClicked"}}>{{minutes}}</div>
            </div>

            <div class="am-pm-container">
                <div class="am-button {{amButtonState}}" {{action 'amClicked'}}>AM</div>
                <div class="pm-button {{pmButtonState}}" {{action 'pmClicked'}}>PM</div>
            </div>

        </div>
    </div>

    <div class="outside-hours-container {{outsideHoursContainerState}}">

        <svg class="{{clockHoursState}}" id="clocks-hour-svg-{{instanceNumber}}" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 210 210">
            <defs>
                <style>.cls-1{fill:#f1f1f2;}.cls-2{fill:#8f8f8e;}.cls-3{fill:none;stroke:#8f8f8e;stroke-miterlimit:10;}.cls-4{fill:#42ace1; cursor: pointer;}.cls-5{font-size:14px;cursor: pointer;}.cls-5,.cls-6 {fill:#8f8f8e !important;font-family:Proxima Nova;}.cls-6{font-size:16px;}</style>
            </defs>
            <title>hours</title>


            <circle id="bigCircle" class="cls-1" cx="105" cy="105" r="101.5"/>
            <circle id="centerPointHour{{instanceNumber}}" class="cls-2" cx="104.75" cy="105.21" r="3.83"/>

            <line id="line01" class="cls-3" x1="138.88" y1="45.9" x2="104.75" y2="105"/>
            <line id="line02" class="cls-3" x1="163.86" y1="70.89" x2="104.75" y2="105"/>
            <line id="line03" class="cls-3" x1="173" y1="105.02" x2="104.75" y2="105"/>
            <line id="line04" class="cls-3" x1="163.84" y1="139.15" x2="104.75" y2="105"/>
            <line id="line05" class="cls-3" x1="138.85" y1="164.12" x2="104.75" y2="105"/>
            <line id="line06" class="cls-3" x1="104.71" y1="173.25" x2="104.75" y2="105"/>
            <line id="line07" class="cls-3" x1="70.59" y1="164.09" x2="104.75" y2="105"/>
            <line id="line08" class="cls-3" x1="45.62" y1="139.08" x2="104.75" y2="105"/>
            <line id="line09" class="cls-3" x1="36.5" y1="104.95" x2="104.75" y2="105"/>
            <line id="line10" class="cls-3" x1="45.67" y1="70.82" x2="104.75" y2="105"/>
            <line id="line11" class="cls-3" x1="70.68" y1="45.86" x2="104.75" y2="105"/>
            <line id="line00" class="cls-3" x1="104.75" y1="36.75" x2="104.75" y2="105"/>

            <circle id="circle01" class="cls-4" cx="143.31" cy="38.42" r="12" transform="translate(38.39 143.32) rotate(-60)"/>
            <circle id="circle02" class="cls-4" cx="171.54" cy="66.65" r="12" transform="translate(-10.34 94.7) rotate(-30)"/>
            <circle id="circle03" class="cls-4" cx="181.87" cy="105.21" r="12"/>
            <circle id="circle04" class="cls-4" cx="171.54" cy="143.77" r="12" transform="matrix(0.5, -0.87, 0.87, 0.5, -38.74, 220.45)"/>
            <circle id="circle05" class="cls-4" cx="143.31" cy="172" r="12" transform="translate(-66.8 94.7) rotate(-30)"/>
            <circle id="circle06" class="cls-4" cx="104.75" cy="182.33" r="12"/>
            <circle id="circle07" class="cls-4" cx="66.19" cy="172" r="12" transform="matrix(0.5, -0.87, 0.87, 0.5, -115.86, 143.32)"/>
            <circle id="circle08" class="cls-4" cx="37.96" cy="143.77" r="12" transform="translate(-66.8 38.24) rotate(-30)"/>
            <circle id="circle09" class="cls-4" cx="27.62" cy="105.21" r="12"/>
            <circle id="circle10" class="cls-4" cx="37.96" cy="66.65" r="12" transform="matrix(0.5, -0.87, 0.87, 0.5, -38.74, 66.2)"/>
            <circle id="circle11" class="cls-4" cx="66.19" cy="38.42" r="12" transform="translate(-10.34 38.24) rotate(-30)"/>
            <circle id="circle00" class="cls-4" cx="104.75" cy="28.08" r="12"/>

            <text id="hour01" class="cls-5" transform="translate(136.78 42.91)" {{action 'clickHour' '01'}}>01</text>
            <text id="hour02" class="cls-5" transform="translate(165 71.14)" {{action 'clickHour' '02'}}>02</text>
            <text id="hour03" class="cls-5" transform="translate(175 109.7)" {{action 'clickHour' '03'}}>03</text>
            <text id="hour04" class="cls-5" transform="translate(165 148.26)" {{action 'clickHour' '04'}}>04</text>
            <text id="hour05" class="cls-5" transform="translate(136 176.49)" {{action 'clickHour' '05'}}>05</text>
            <text id="hour06" class="cls-5" transform="translate(97.5 186.82)" {{action 'clickHour' '06'}}>06</text>
            <text id="hour07" class="cls-5" transform="translate(60 176.49)" {{action 'clickHour' '07'}}>07</text>
            <text id="hour08" class="cls-5" transform="translate(31 148)" {{action 'clickHour' '08'}}>08</text>
            <text id="hour09" class="cls-5" transform="translate(21 109.7)" {{action 'clickHour' '09'}}>09</text>
            <text id="hour10" class="cls-5" transform="translate(30.5 71.14)" {{action 'clickHour' '10'}}>10</text>
            <text id="hour11" class="cls-5" transform="translate(59 42.91)" {{action 'clickHour' '11'}}>11</text>
            <text id="hour00" class="cls-5" transform="translate(97.26 32.57)" {{action 'clickHour' '00'}}>12</text>
        </svg>

    </div>

    <div class="outside-hours-container-bottom {{outsideHoursContainerBottomState}}">

        <svg class="{{clockMinutesState}}" id="clock-minutes-svg-{{instanceNumber}}" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 210 210">
            <defs>
                <style>.transparent-click{fill:#f1f1f2;cursor:pointer}.cls-1{fill:#f1f1f2;}.cls-min-2{fill:none;stroke:#8f8f8e;stroke-miterlimit:10;}.cls-min-3{fill:#42ace1;}.cls-min-4{cursor:pointer;font-size:14px;fill:#8f8f8e !important;;font-family:Proxima Nova;}.cls-min-5{fill:#8f8f8e;}</style>
            </defs>
            <title>minutes</title>
            <circle id="bigCircleMinutes" class="cls-1" cx="104.87496" cy="105.10482" r="101.5"/>

            <path id="sectionMin00" class="transparent-click" d="M108.09261,41.22293l1.261-25.97194a90.46309,90.46309,0,0,0-9.41287.0389l1.46275,25.95882A64.3819,64.3819,0,0,1,108.09261,41.22293Z" {{action 'minuteClicked' '00'}}/>
            <path id="sectionMin01" class="transparent-click" d="M114.74194,41.89776l3.96948-25.702a89.34486,89.34486,0,0,0-9.35777-.94476l-1.261,25.97194A63.69769,63.69769,0,0,1,114.74194,41.89776Z" {{action 'minuteClicked' '01'}}/>
            <path id="sectionMin02" class="transparent-click" d="M121.28258,43.26926l6.63538-25.15a89.02266,89.02266,0,0,0-9.20654-1.92357l-3.96948,25.702A63.31862,63.31862,0,0,1,121.28258,43.26926Z" {{action 'minuteClicked' '02'}}/>
            <path id="sectionMin03" class="transparent-click" d="M127.64216,45.32l9.22907-24.32142a89.22276,89.22276,0,0,0-8.95327-2.87927l-6.63538,25.15A63.31367,63.31367,0,0,1,127.64216,45.32Z" {{action 'minuteClicked' '03'}}/>
            <path id="sectionMin04" class="transparent-click" d="M133.75147,48.024l11.71924-23.221a89.723,89.723,0,0,0-8.59948-3.80445L127.64216,45.32A63.65271,63.65271,0,0,1,133.75147,48.024Z" {{action 'minuteClicked' '04'}}/>
            <path id="sectionMin05" class="transparent-click" d="M139.5508,51.35l14.07777-21.85739a90.22412,90.22412,0,0,0-8.15786-4.68958L133.75147,48.024A63.98872,63.98872,0,0,1,139.5508,51.35Z" {{action 'minuteClicked' '05'}}/>
            <path id="sectionMin06" class="transparent-click" d="M144.97091,55.25389l16.28028-20.25953a90.47279,90.47279,0,0,0-7.62262-5.50174L139.5508,51.35A64.35987,64.35987,0,0,1,144.97091,55.25389Z" {{action 'minuteClicked' '06'}}/>
            <path id="sectionMin07" class="transparent-click" d="M149.95141,59.70535l18.30905-18.447a90.57924,90.57924,0,0,0-7.00926-6.264L144.97091,55.25389A64.48389,64.48389,0,0,1,149.95141,59.70535Z" {{action 'minuteClicked' '07'}}/>
            <path id="sectionMin08" class="transparent-click" d="M154.4381,64.65413l20.14351-16.43762a90.46225,90.46225,0,0,0-6.32115-6.95813l-18.30905,18.447A64.21661,64.21661,0,0,1,154.4381,64.65413Z" {{action 'minuteClicked' '08'}}/>
            <path id="sectionMin09" class="transparent-click" d="M158.38991,70.03945L180.1511,55.79114a90.05437,90.05437,0,0,0-5.56949-7.57464L154.4381,64.65413A64.02974,64.02974,0,0,1,158.38991,70.03945Z" {{action 'minuteClicked' '09'}}/>

            <path id="sectionMin10" class="transparent-click" d="M161.76447,75.81235l23.13427-11.89507a89.729,89.729,0,0,0-4.74765-8.12614L158.38991,70.03945A63.73557,63.73557,0,0,1,161.76447,75.81235Z" {{action 'minuteClicked' '10'}}/>
            <path id="sectionMin11" class="transparent-click" d="M164.51451,81.90215l24.24824-9.41035a89.25075,89.25075,0,0,0-3.864-8.57451L161.76447,75.81235A63.35123,63.35123,0,0,1,164.51451,81.90215Z" {{action 'minuteClicked' '11'}}/>
            <path id="sectionMin12" class="transparent-click" d="M166.60971,88.24794l25.09558-6.82306a89.04122,89.04122,0,0,0-2.94253-8.93308l-24.24824,9.41035A63.192,63.192,0,0,1,166.60971,88.24794Z" {{action 'minuteClicked' '12'}}/>
            <path id="sectionMin13" class="transparent-click" d="M168.02532,94.77971l25.66712-4.16155a89.34423,89.34423,0,0,0-1.98716-9.19329l-25.09558,6.82306A63.51368,63.51368,0,0,1,168.02532,94.77971Z" {{action 'minuteClicked' '13'}}/>
            <path id="sectionMin14" class="transparent-click" d="M169,101.3995v0.01658l25.90692-1.45592c-0.00044-.0078-0.027-0.0156-0.02746-0.0234a90.35722,90.35722,0,0,0-1.10032-9.32274L168.195,94.77349A41.69984,41.69984,0,0,1,169,101.3995Z" {{action 'minuteClicked' '14'}}/>
            <path id="sectionMin15" class="transparent-click" d="M168.77177,108.11333l25.97184,1.26789a90.46318,90.46318,0,0,0-.03645-9.41276l-25.95945,1.45594A64.2406,64.2406,0,0,1,168.77177,108.11333Z" {{action 'minuteClicked' '15'}}/>
            <path id="sectionMin16" class="transparent-click" d="M168.77177,108.11333a63.5751,63.5751,0,0,1-.67655,6.64918l25.70118,3.97638a89.41936,89.41936,0,0,0,.94721-9.35766Z" {{action 'minuteClicked' '16'}}/>
            <path id="sectionMin17" class="transparent-click" d="M166.72222,121.30275l25.14837,6.64207a89.0344,89.0344,0,0,0,1.9258-9.20593l-25.70118-3.97638A63.21776,63.21776,0,0,1,166.72222,121.30275Z" {{action 'minuteClicked' '17'}}/>
            <path id="sectionMin18" class="transparent-click" d="M164.67,127.66168l24.31911,9.2358a89.24646,89.24646,0,0,0,2.88151-8.95266l-25.14837-6.64207A63.28568,63.28568,0,0,1,164.67,127.66168Z" {{action 'minuteClicked' '18'}}/>
            <path id="sectionMin19" class="transparent-click" d="M161.96469,133.77033l23.21744,11.72555a89.69292,89.69292,0,0,0,3.807-8.5984L164.67,127.66168A63.55947,63.55947,0,0,1,161.96469,133.77033Z" {{action 'minuteClicked' '19'}}/>

            <path id="sectionMin20" class="transparent-click" d="M158.637,139.56927l21.85379,14.08335a90.20209,90.20209,0,0,0,4.69136-8.15674l-23.21744-11.72555A64.09092,64.09092,0,0,1,158.637,139.56927Z"  {{action 'minuteClicked' '20'}}/>
            <path id="sectionMin21" class="transparent-click" d="M154.73182,144.98847L174.987,161.27364a90.5986,90.5986,0,0,0,5.50379-7.621L158.637,139.56927A64.34971,64.34971,0,0,1,154.73182,144.98847Z" {{action 'minuteClicked' '21'}}/>
            <path id="sectionMin22" class="transparent-click" d="M150.27855,149.96711l18.44262,18.31419a90.67536,90.67536,0,0,0,6.26582-7.00765l-20.25516-16.28517A64.38438,64.38438,0,0,1,150.27855,149.96711Z" {{action 'minuteClicked' '22'}}/>
            <path id="sectionMin23" class="transparent-click" d="M145.329,154.45287l16.43249,20.148a90.55917,90.55917,0,0,0,6.95969-6.31953l-18.44262-18.31419A64.25846,64.25846,0,0,1,145.329,154.45287Z" {{action 'minuteClicked' '23'}}/>
            <path id="sectionMin24" class="transparent-click" d="M139.94236,158.40329l14.24289,21.76491a90.14874,90.14874,0,0,0,7.57622-5.56738l-16.43249-20.148A63.99815,63.99815,0,0,1,139.94236,158.40329Z" {{action 'minuteClicked' '24'}}/>
            <path id="sectionMin25" class="transparent-click" d="M134.16913,161.7764l11.88861,23.13684a89.6388,89.6388,0,0,0,8.12751-4.745l-14.24289-21.76491A63.72789,63.72789,0,0,1,134.16913,161.7764Z" {{action 'minuteClicked' '25'}}/>
            <path id="sectionMin26" class="transparent-click" d="M128.07854,164.52526l9.40385,24.25007a89.12947,89.12947,0,0,0,8.57535-3.8621L134.16913,161.7764A63.44214,63.44214,0,0,1,128.07854,164.52526Z" {{action 'minuteClicked' '26'}}/>
            <path id="sectionMin27" class="transparent-click" d="M121.73191,166.61855l6.81655,25.09717a88.90322,88.90322,0,0,0,8.93393-2.94038l-9.40385-24.25007A63.30758,63.30758,0,0,1,121.73191,166.61855Z" {{action 'minuteClicked' '27'}}/>
            <path id="sectionMin28" class="transparent-click" d="M115.1998,168.03272l4.15525,25.66821a89.4822,89.4822,0,0,0,9.1934-1.98521l-6.81655-25.09717A63.44073,63.44073,0,0,1,115.1998,168.03272Z" {{action 'minuteClicked' '28'}}/>
            <path id="sectionMin29" class="transparent-click" d="M108.59647,168.89875l-0.03315.00187,1.44934,25.95958,0.04656-.00262a90.46153,90.46153,0,0,0,9.3-1.083l-4.15318-25.6314A64.30207,64.30207,0,0,1,108.59647,168.89875Z" {{action 'minuteClicked' '29'}}/>

            <path id="sectionMin30" class="transparent-click" d="M101.86618,168.77476l-1.2745,25.97172a90.584,90.584,0,0,0,9.41265-.034L108.555,168.75242A64.23071,64.23071,0,0,1,101.86618,168.77476Z" {{action 'minuteClicked' '30'}}/>
            <path id="sectionMin31" class="transparent-click" d="M95.21715,168.09649l-3.98278,25.70032a89.1977,89.1977,0,0,0,9.35731.94967l1.2745-25.97172A63.43231,63.43231,0,0,1,95.21715,168.09649Z" {{action 'minuteClicked' '31'}}/>
            <path id="sectionMin32" class="transparent-click" d="M88.67732,166.722L82.0288,191.86878a88.98265,88.98265,0,0,0,9.20557,1.928l3.98278-25.70032A63.1682,63.1682,0,0,1,88.67732,166.722Z" {{action 'minuteClicked' '32'}}/>
            <path id="sectionMin33" class="transparent-click" d="M82.3188,164.66827L73.077,188.98552a89.291,89.291,0,0,0,8.95178,2.88327L88.67732,166.722A63.26213,63.26213,0,0,1,82.3188,164.66827Z" {{action 'minuteClicked' '33'}}/>
            <path id="sectionMin34" class="transparent-click" d="M76.21081,161.96172L64.47943,185.17558a89.58033,89.58033,0,0,0,8.59759,3.80993l9.24177-24.31724A63.73538,63.73538,0,0,1,76.21081,161.96172Z" {{action 'minuteClicked' '34'}}/>
            <path id="sectionMin35" class="transparent-click" d="M70.413,158.63273l-14.0892,21.84972a90.10676,90.10676,0,0,0,8.15561,4.69313l11.73138-23.21386A64.14232,64.14232,0,0,1,70.413,158.63273Z" {{action 'minuteClicked' '35'}}/>
            <path id="sectionMin36" class="transparent-click" d="M64.99469,154.72581L48.70393,174.97713a90.61762,90.61762,0,0,0,7.61989,5.50532L70.413,158.63273A64.32275,64.32275,0,0,1,64.99469,154.72581Z" {{action 'minuteClicked' '36'}}/>
            <path id="sectionMin37" class="transparent-click" d="M60.0172,150.27124L41.69834,168.709a90.72345,90.72345,0,0,0,7.00558,6.26814l16.29077-20.25132A64.28849,64.28849,0,0,1,60.0172,150.27124Z" {{action 'minuteClicked' '37'}}/>
            <path id="sectionMin38" class="transparent-click" d="M55.53284,145.32038L35.38068,161.74773a90.54785,90.54785,0,0,0,6.31766,6.96126L60.0172,150.27124A64.35467,64.35467,0,0,1,55.53284,145.32038Z" {{action 'minuteClicked' '38'}}/>
            <path id="sectionMin39" class="transparent-click" d="M51.58359,139.933L29.81447,154.17046a90.18893,90.18893,0,0,0,5.56621,7.57727l20.15216-16.42735A64.03429,64.03429,0,0,1,51.58359,139.933Z" {{action 'minuteClicked' '39'}}/>

            <path id="sectionMin40" class="transparent-click" d="M48.21215,134.1589L25.072,146.04109a89.6766,89.6766,0,0,0,4.74245,8.12937L51.58359,139.933A63.66751,63.66751,0,0,1,48.21215,134.1589Z" {{action 'minuteClicked' '40'}}/>
            <path id="sectionMin41" class="transparent-click" d="M45.46471,128.06749l-24.25264,9.39739a89.1437,89.1437,0,0,0,3.85995,8.57621l23.14013-11.8822A63.30018,63.30018,0,0,1,45.46471,128.06749Z" {{action 'minuteClicked' '41'}}/>
            <path id="sectionMin42" class="transparent-click" d="M43.37263,121.72055l-25.09876,6.81a89.04278,89.04278,0,0,0,2.9382,8.9343l24.25264-9.39739A63.2612,63.2612,0,0,1,43.37263,121.72055Z" {{action 'minuteClicked' '42'}}/>
            <path id="sectionMin43" class="transparent-click" d="M41.96037,115.1876l-25.66905,4.14894a89.36738,89.36738,0,0,0,1.98255,9.194l25.09876-6.81A63.52722,63.52722,0,0,1,41.96037,115.1876Z" {{action 'minuteClicked' '43'}}/>
            <path id="sectionMin44" class="transparent-click" d="M41.24444,108.59244c-0.00093-.01658-0.07475-0.029-0.07568-0.04562l-26.03429,1.447,0.00393,0.06971a90.43562,90.43562,0,0,0,1.07931,9.27721l25.70586-4.151A64.33046,64.33046,0,0,1,41.24444,108.59244Z" {{action 'minuteClicked' '44'}}/>
            <path id="sectionMin45" class="transparent-click" d="M41.22224,101.854l-25.97164-1.2816a90.51932,90.51932,0,0,0,.03206,9.413l25.96019-1.44278A64.28818,64.28818,0,0,1,41.22224,101.854Z" {{action 'minuteClicked' '45'}}/>
            <path id="sectionMin46" class="transparent-click" d="M41.90223,95.20512L16.20275,91.21545a89.38721,89.38721,0,0,0-.95214,9.357l25.97164,1.2816A63.4849,63.4849,0,0,1,41.90223,95.20512Z" {{action 'minuteClicked' '46'}}/>
            <path id="sectionMin47" class="transparent-click" d="M43.27821,88.66569L18.133,82.01024a89.06214,89.06214,0,0,0-1.93024,9.20521l25.69949,3.98968A63.2108,63.2108,0,0,1,43.27821,88.66569Z" {{action 'minuteClicked' '47'}}/>
            <path id="sectionMin48" class="transparent-click" d="M45.33367,82.30756L21.01875,73.0593A89.23632,89.23632,0,0,0,18.133,82.01024l25.14522,6.65545A63.34853,63.34853,0,0,1,45.33367,82.30756Z" {{action 'minuteClicked' '48'}}/>
            <path id="sectionMin49" class="transparent-click" d="M48.042,76.20021L24.831,64.463a89.69121,89.69121,0,0,0-3.81221,8.59625l24.31492,9.24826A63.67755,63.67755,0,0,1,48.042,76.20021Z" {{action 'minuteClicked' '49'}}/>

            <path id="sectionMin50" class="transparent-click" d="M51.37222,70.40308L29.52636,56.30853A90.20215,90.20215,0,0,0,24.831,64.463L48.042,76.20021A64.01072,64.01072,0,0,1,51.37222,70.40308Z" {{action 'minuteClicked' '50'}}/>
            <path id="sectionMin51" class="transparent-click" d="M55.28017,64.98568L35.03345,48.68976a90.51442,90.51442,0,0,0-5.5071,7.61877L51.37222,70.40308A64.35245,64.35245,0,0,1,55.28017,64.98568Z" {{action 'minuteClicked' '51'}}/>
            <path id="sectionMin52" class="transparent-click" d="M59.73678,60.00979L41.30367,41.68626a90.67211,90.67211,0,0,0-6.27021,7.0035L55.28017,64.98568A64.53225,64.53225,0,0,1,59.73678,60.00979Z" {{action 'minuteClicked' '52'}}/>
            <path id="sectionMin53" class="transparent-click" d="M64.68846,55.52684L48.26623,35.37a90.55873,90.55873,0,0,0-6.96256,6.31627L59.73678,60.00979A64.253,64.253,0,0,1,64.68846,55.52684Z" {{action 'minuteClicked' '53'}}/>
            <path id="sectionMin54" class="transparent-click" d="M70.07693,51.57876L55.84508,29.80589A90.19045,90.19045,0,0,0,48.26623,35.37L64.68846,55.52684A64.03781,64.03781,0,0,1,70.07693,51.57876Z" {{action 'minuteClicked' '54'}}/>
            <path id="sectionMin55" class="transparent-click" d="M75.79336,48.23917L63.89259,25.10791a89.54016,89.54016,0,0,0-8.04751,4.698L70.07693,51.57876A63.69521,63.69521,0,0,1,75.79336,48.23917Z" {{action 'minuteClicked' '55'}}/>
            <path id="sectionMin56" class="transparent-click" d="M81.88233,45.48747L72.46575,21.24153a89.19619,89.19619,0,0,0-8.57316,3.86638L75.79336,48.23917A63.4334,63.4334,0,0,1,81.88233,45.48747Z" {{action 'minuteClicked' '56'}}/>
            <path id="sectionMin57" class="transparent-click" d="M88.22779,43.39082l-6.82958-25.094a89.02349,89.02349,0,0,0-8.93246,2.9447l9.41658,24.24593A63.31944,63.31944,0,0,1,88.22779,43.39082Z" {{action 'minuteClicked' '57'}}/>
            <path id="sectionMin58" class="transparent-click" d="M94.75948,41.97375L90.59088,16.30727a89.47927,89.47927,0,0,0-9.19267,1.98957l6.82958,25.094A63.57074,63.57074,0,0,1,94.75948,41.97375Z" {{action 'minuteClicked' '58'}}/>
            <path id="sectionMin59" class="transparent-click" d="M101.40353,41.24871L99.94078,15.28989a90.44825,90.44825,0,0,0-9.34991,1.01738l4.16861,25.66648A64.274,64.274,0,0,1,101.40353,41.24871Z" {{action 'minuteClicked' '59'}}/>


            {{!-- lines for minutes 00 - 04 --}}
            <line id="minLine00" class="cls-min-2" x1="104.99999" y1="36.74992" x2="104.99999" y2="105"/>
            <line id="minLine01" class="cls-min-2" x1="112.13993" y1="37.12442" x2="104.99999" y2="105.00001"/>
            <line id="minLine02" class="cls-min-2" x1="119.19575" y1="38.24257" x2="104.99999" y2="105.00001"/>
            <line id="minLine03" class="cls-min-2" x1="126.09604" y1="40.09214" x2="104.99999" y2="105.00001"/>
            <line id="minLine04" class="cls-min-2" x1="132.76519" y1="42.65285" x2="104.99999" y2="105.00001"/>

            {{!-- lines for minutes 05 - 09 --}}
            <line id="minLine05" class="cls-min-2" x1="139.13014" y1="45.89664" x2="104.99999" y2="105"/>
            <line id="minLine06" class="cls-min-2" x1="145.12593" y1="49.79146" x2="104.99999" y2="105.00001"/>
            <line id="minLine07" class="cls-min-2" x1="150.67698" y1="54.2882" x2="104.99999" y2="105.00001"/>
            <line id="minLine08" class="cls-min-2" x1="155.72758" y1="59.34055" x2="104.99999" y2="105.00001"/>
            <line id="minLine09" class="cls-min-2" x1="160.2224" y1="64.89315" x2="104.99999" y2="105.00001"/>

            {{!-- lines for minutes 10 - 14 --}}
            <line id="minLine10" class="cls-min-2" x1="164.1122" y1="70.88517" x2="104.99999" y2="105"/>
            <line id="minLine11" class="cls-min-2" x1="167.35674" y1="77.25636" x2="104.99999" y2="105.00001"/>
            <line id="minLine12" class="cls-min-2" x1="169.91515" y1="83.9264" x2="104.99999" y2="105.00001"/>
            <line id="minLine13" class="cls-min-2" x1="171.76233" y1="90.82732" x2="104.99999" y2="105.00001"/>
            <line id="minLine14" class="cls-min-2" x1="172.87804" y1="97.88352" x2="104.99999" y2="105.00001"/>

            {{!-- lines for minutes 15 - 19 --}}
            <line id="minLine15" class="cls-min-2" x1="173.25008" y1="105.01769" x2="104.99999" y2="105"/>
            <line id="minLine16" class="cls-min-2" x1="172.87373" y1="112.15754" x2="104.99999" y2="105.00001"/>
            <line id="minLine17" class="cls-min-2" x1="171.75374" y1="119.21307" x2="104.99999" y2="105.00001"/>
            <line id="minLine18" class="cls-min-2" x1="169.90239" y1="126.11287" x2="104.99999" y2="105.00001"/>
            <line id="minLine19" class="cls-min-2" x1="167.33995" y1="132.78136" x2="104.99999" y2="105.00001"/>

            {{!-- lines for minutes 20 - 21 --}}
            <line id="minLine20" class="cls-min-2" x1="164.0945" y1="139.14547" x2="104.99999" y2="105"/>
            <line id="minLine21" class="cls-min-2" x1="160.19814" y1="145.14025" x2="104.99999" y2="105.00001"/>
            <line id="minLine22" class="cls-min-2" x1="155.69996" y1="150.69014" x2="104.99999" y2="105.00001"/>
            <line id="minLine23" class="cls-min-2" x1="150.6463" y1="155.73943" x2="104.99999" y2="105.00001"/>
            <line id="minLine24" class="cls-min-2" x1="145.09253" y1="160.23281" x2="104.99999" y2="105.00001"/>

            {{!-- lines for minutes 25 - 29 --}}
            <line id="minLine25" class="cls-min-2" x1="139.0995" y1="164.12105" x2="104.99999" y2="105"/>
            <line id="minLine26" class="cls-min-2" x1="132.72748" y1="167.36395" x2="104.99999" y2="105.00001"/>
            <line id="minLine27" class="cls-min-2" x1="126.05678" y1="169.92062" x2="104.99999" y2="105.00001"/>
            <line id="minLine28" class="cls-min-2" x1="119.15537" y1="171.76601" x2="104.99999" y2="105.00001"/>
            <line id="minLine29" class="cls-min-2" x1="112.09888" y1="172.8799" x2="104.99999" y2="105.00001"/>

            {{!-- lines for minutes 30 - 34 --}}
            <line id="minLine30" class="cls-min-2" x1="104.96461" y1="173.25008" x2="104.99999" y2="105"/>
            <line id="minLine31" class="cls-min-2" x1="97.82487" y1="172.87189" x2="104.99999" y2="105.00001"/>
            <line id="minLine32" class="cls-min-2" x1="90.76963" y1="171.75007" x2="104.99999" y2="105.00001"/>
            <line id="minLine33" class="cls-min-2" x1="83.8703" y1="169.89693" x2="104.99999" y2="105.00001"/>
            <line id="minLine34" class="cls-min-2" x1="77.20248" y1="167.33276" x2="104.99999" y2="105.00001"/>

            {{!-- lines for minutes 35 - 39 --}}
            <line id="minLine35" class="cls-min-2" x1="70.83921" y1="164.08567" x2="104.99999" y2="105"/>
            <line id="minLine36" class="cls-min-2" x1="64.84544" y1="160.18775" x2="104.99999" y2="105.00001"/>
            <line id="minLine37" class="cls-min-2" x1="59.29672" y1="155.68813" x2="104.99999" y2="105.00001"/>
            <line id="minLine38" class="cls-min-2" x1="54.24874" y1="150.63316" x2="104.99999" y2="105.00001"/>
            <line id="minLine39" class="cls-min-2" x1="49.7568" y1="145.07823" x2="104.99999" y2="105.00001"/>

            {{!-- lines for minutes 40 - 44 --}}
            <line id="minLine40" class="cls-min-2" x1="45.87011" y1="139.08419" x2="104.99999" y2="105"/>
            <line id="minLine41" class="cls-min-2" x1="42.62887" y1="132.71133" x2="104.99999" y2="105.00001"/>
            <line id="minLine42" class="cls-min-2" x1="40.07392" y1="126.03997" x2="104.99999" y2="105.00001"/>
            <line id="minLine43" class="cls-min-2" x1="38.23032" y1="119.13808" x2="104.99999" y2="105.00001"/>
            <line id="minLine44" class="cls-min-2" x1="37.11826" y1="112.0813" x2="104.99999" y2="105.00001"/>

            {{!-- lines for minutes 45 - 49 --}}
            <line id="minLine45" class="cls-min-2" x1="36.74992" y1="104.94693" x2="104.99999" y2="105"/>
            <line id="minLine46" class="cls-min-2" x1="37.12998" y1="97.80729" x2="104.99999" y2="105.00001"/>
            <line id="minLine47" class="cls-min-2" x1="38.25362" y1="90.75234" x2="104.99999" y2="105.00001"/>
            <line id="minLine48" class="cls-min-2" x1="40.10855" y1="83.8535" x2="104.99999" y2="105.00001"/>
            <line id="minLine49" class="cls-min-2" x1="42.67444" y1="77.18634" x2="104.99999" y2="105.00001"/>

            {{!-- lines for minutes 50 - 54 --}}
            <line id="minLine50" class="cls-min-2" x1="45.92319" y1="70.82391" x2="104.99999" y2="105"/>
            <line id="minLine51" class="cls-min-2" x1="49.82266" y1="64.83116" x2="104.99999" y2="105.00001"/>
            <line id="minLine52" class="cls-min-2" x1="54.32372" y1="59.2836" x2="104.99999" y2="105.00001"/>
            <line id="minLine53" class="cls-min-2" x1="59.37999" y1="54.23693" x2="104.99999" y2="105.00001"/>
            <line id="minLine54" class="cls-min-2" x1="64.93609" y1="49.74642" x2="104.99999" y2="105.00001"/>

            {{!-- lines for minutes 55 - 59 --}}
            <line id="minLine55" class="cls-min-2" x1="70.93114" y1="45.86129" x2="104.99999" y2="105"/>
            <line id="minLine56" class="cls-min-2" x1="77.24018" y1="42.65045" x2="104.99999" y2="105.00001"/>
            <line id="minLine57" class="cls-min-2" x1="83.90956" y1="40.09032" x2="104.99999" y2="105.00001"/>
            <line id="minLine58" class="cls-min-2" x1="90.81" y1="38.24135" x2="104.99999" y2="105.00001"/>
            <line id="minLine59" class="cls-min-2" x1="97.86591" y1="37.1238" x2="104.99999" y2="105.00001"/>

            {{!-- circles for minutes 00 - 04 --}}
            <circle id="minCircle00" class="cls-min-3" cx="105" cy="27.87496" r="12"/>
            <circle id="minCircle01" class="cls-min-3" cx="113.06176" cy="28.29746" r="12" transform="translate(73.10115 137.78196) rotate(-84)"/>
            <circle id="minCircle02" class="cls-min-3" cx="121.0352" cy="29.56032" r="12" transform="translate(66.9562 141.80468) rotate(-78)"/>
            <circle id="minCircle03" class="cls-min-3" cx="128.83295" cy="31.64973" r="12" transform="translate(58.9207 144.39684) rotate(-72)"/>
            <circle id="minCircle04" class="cls-min-3" cx="136.36958" cy="34.54277" r="12" transform="translate(49.34669 145.07277) rotate(-66)"/>

            {{!-- circles for minutes 05 - 09 --}}
            <circle id="minCircle05" class="cls-min-3" cx="143.56252" cy="38.20775" r="12" transform="matrix(0.5, -0.86603, 0.86603, 0.5, 38.69238, 143.43267)"/>
            <circle id="minCircle06" class="cls-min-3" cx="150.33296" cy="42.60453" r="12" transform="translate(27.50168 139.18414) rotate(-54)"/>
            <circle id="minCircle07" class="cls-min-3" cx="156.60673" cy="47.68492" r="12" transform="translate(16.37957 132.15896) rotate(-48)"/>
            <circle id="minCircle08" class="cls-min-3" cx="162.31508" cy="53.39327" r="12" transform="translate(5.96439 122.32432) rotate(-42)"/>
            <circle id="minCircle09" class="cls-min-3" cx="167.39547" cy="59.66704" r="12" transform="translate(-3.10171 109.78798) rotate(-36)"/>

            {{!-- circles for minutes 10 - 14 --}}
            <circle id="minCircle10" class="cls-min-3" cx="171.79225" cy="66.43748" r="12" transform="translate(-10.20294 94.79706) rotate(-30)"/>
            <circle id="minCircle11" class="cls-min-3" cx="175.45723" cy="73.63042" r="12" transform="translate(-14.77911 77.73057) rotate(-24)"/>
            <circle id="minCircle12" class="cls-min-3" cx="178.35027" cy="81.16705" r="12" transform="translate(-16.35291 59.08586) rotate(-18)"/>
            <circle id="minCircle13" class="cls-min-3" cx="180.43968" cy="88.9648" r="12" transform="translate(-14.55378 39.45961) rotate(-12)"/>
            <circle id="minCircle14" class="cls-min-3" cx="181.70254" cy="96.93824" r="12" transform="matrix(0.99452, -0.10453, 0.10453, 0.99452, -9.13742, 19.52413)"/>

            {{!-- circles for minutes 15 - 19--}}
            <circle id="minCircle15" class="cls-min-3" cx="182.12504" cy="105" r="12"/>
            <circle id="minCircle16" class="cls-min-3" cx="181.70254" cy="113.06176" r="12" transform="translate(50.26706 281.95075) rotate(-84)"/>
            <circle id="minCircle17" class="cls-min-3" cx="180.43968" cy="121.0352" r="12" transform="translate(24.53387 272.3672) rotate(-78)"/>
            <circle id="minCircle18" class="cls-min-3" cx="178.35027" cy="128.83295" r="12" transform="translate(0.70959 258.64257) rotate(-72)"/>
            <circle id="minCircle19" class="cls-min-3" cx="175.45723" cy="136.36958" r="12" transform="translate(-20.48746 241.19123) rotate(-66)"/>

            {{!-- circles for minutes 20 - 24--}}
            <circle id="minCircle20" class="cls-min-3" cx="171.79225" cy="143.56252" r="12" transform="matrix(0.5, -0.86603, 0.86603, 0.5, -38.43267, 220.55771)"/>
            <circle id="minCircle21" class="cls-min-3" cx="167.39547" cy="150.33296" r="12" transform="translate(-52.61904 197.39524) rotate(-54)"/>
            <circle id="minCircle22" class="cls-min-3" cx="162.31508" cy="156.60673" r="12" transform="translate(-62.67639 172.43998) rotate(-48)"/>
            <circle id="minCircle23" class="cls-min-3" cx="156.60673" cy="162.31508" r="12" transform="translate(-68.38474 146.48182) rotate(-42)"/>
            <circle id="minCircle24" class="cls-min-3" cx="150.33296" cy="167.39547" r="12" transform="translate(-69.68155 120.33319) rotate(-36)"/>

            {{!-- circles for minutes 25 - 29--}}
            <circle id="minCircle25" class="cls-min-3" cx="143.56252" cy="171.79225" r="12" transform="translate(-66.66239 94.79706) rotate(-30)"/>
            <circle id="minCircle26" class="cls-min-3" cx="136.36958" cy="175.45723" r="12" transform="translate(-59.57512 70.63558) rotate(-24)"/>
            <circle id="minCircle27" class="cls-min-3" cx="128.83295" cy="178.35027" r="12" transform="translate(-48.80773 48.54065) rotate(-18)"/>
            <circle id="minCircle28" class="cls-min-3" cx="121.0352" cy="180.43968" r="12" transform="translate(-34.87061 29.10767) rotate(-12)"/>
            <circle id="minCircle29" class="cls-min-3" cx="113.06176" cy="181.70254" r="12" transform="translate(-18.37372 12.81356) rotate(-6)"/>

            {{!-- circles for minutes 30 - 34--}}
            <circle id="minCircle30" class="cls-min-3" cx="105" cy="182.12504" r="12"/>
            <circle id="minCircle31" class="cls-min-3" cx="96.93824" cy="181.70254" r="12" transform="translate(-93.90173 259.11666) rotate(-84)"/>
            <circle id="minCircle32" class="cls-min-3" cx="88.9648" cy="180.43968" r="12" transform="translate(-106.02866 229.94486) rotate(-78)"/>
            <circle id="minCircle33" class="cls-min-3" cx="81.16705" cy="178.35027" r="12" transform="matrix(0.30902, -0.95106, 0.95106, 0.30902, -113.53614, 200.43146)"/>
            <circle id="minCircle34" class="cls-min-3" cx="73.63042" cy="175.45723" r="12" transform="translate(-116.60593 171.35708) rotate(-66)"/>

            {{!-- circles for minutes 35 - 39--}}
            <circle id="minCircle35" class="cls-min-3" cx="66.43748" cy="171.79225" r="12" transform="translate(-115.55771 143.43267) rotate(-60)"/>
            <circle id="minCircle36" class="cls-min-3" cx="59.66704" cy="167.39547" r="12" transform="translate(-110.83015 117.27453) rotate(-54)"/>
            <circle id="minCircle37" class="cls-min-3" cx="53.39327" cy="162.31508" r="12" transform="translate(-102.95741 93.38403) rotate(-48)"/>
            <circle id="minCircle38" class="cls-min-3" cx="47.68492" cy="156.60673" r="12" transform="translate(-92.54223 72.13269) rotate(-42)"/>
            <circle id="minCircle39" class="cls-min-3" cx="42.60453" cy="150.33296" r="12" transform="translate(-80.22676 53.75336) rotate(-36)"/>

            {{!-- circles for minutes 40 - 44--}}
            <circle id="minCircle40" class="cls-min-3" cx="38.20775" cy="143.56252" r="12" transform="translate(-66.66239 38.33761) rotate(-30)"/>
            <circle id="minCircle41" class="cls-min-3" cx="34.54277" cy="136.36958" r="12" transform="translate(-52.48013 25.83958) rotate(-24)"/>
            <circle id="minCircle42" class="cls-min-3" cx="31.64973" cy="128.83295" r="12" transform="translate(-38.26252 16.08584) rotate(-18)"/>
            <circle id="minCircle43" class="cls-min-3" cx="29.56032" cy="121.0352" r="12" transform="translate(-24.51867 8.79085) rotate(-12)"/>
            <circle id="minCircle44" class="cls-min-3" cx="28.29746" cy="113.06176" r="12" transform="translate(-11.66316 3.57725) rotate(-6)"/>

            {{!-- circles for minutes 45 - 49--}}
            <circle id="minCircle45" class="cls-min-3" cx="27.87496" cy="105" r="12"/>
            <circle id="minCircle46" class="cls-min-3" cx="28.29746" cy="96.93824" r="12" transform="translate(-71.06763 114.94787) rotate(-84)"/>
            <circle id="minCircle47" class="cls-min-3" cx="29.56032" cy="88.9648" r="12" transform="translate(-63.60632 99.38234) rotate(-78)"/>
            <circle id="minCircle48" class="cls-min-3" cx="31.64973" cy="81.16705" r="12" transform="translate(-55.32503 86.18573) rotate(-72)"/>
            <circle id="minCircle49" class="cls-min-3" cx="34.54277" cy="73.63042" r="12" transform="translate(-46.77178 75.23862) rotate(-66)"/>

            {{!-- circles for minutes 50 - 54--}}
            <circle id="minCircle50" class="cls-min-3" cx="38.20775" cy="66.43748" r="12" transform="matrix(0.5, -0.86603, 0.86603, 0.5, -38.43267, 66.30762)"/>
            <circle id="minCircle51" class="cls-min-3" cx="42.60453" cy="59.66704" r="12" transform="translate(-30.70943 59.06342) rotate(-54)"/>
            <circle id="minCircle52" class="cls-min-3" cx="47.68492" cy="53.39327" r="12" transform="translate(-23.90145 53.103) rotate(-48)"/>
            <circle id="minCircle53" class="cls-min-3" cx="53.39327" cy="47.68492" r="12" transform="translate(-18.1931 47.97519) rotate(-42)"/>
            <circle id="minCircle54" class="cls-min-3" cx="59.66704" cy="42.60453" r="12" transform="translate(-13.64692 43.20815) rotate(-36)"/>

            {{!-- circles for minutes 55 - 59--}}
            <circle id="minCircle55" class="cls-min-3" cx="66.43748" cy="38.20775" r="12" transform="translate(-10.20294 38.33761) rotate(-30)"/>
            <circle id="minCircle56" class="cls-min-3" cx="73.63042" cy="34.54277" r="12" transform="translate(-7.68413 32.93457) rotate(-24)"/>
            <circle id="minCircle57" class="cls-min-3" cx="81.16705" cy="31.64973" r="12" transform="translate(-5.8077 26.63105) rotate(-18)"/>
            <circle id="minCircle58" class="cls-min-3" cx="88.9648" cy="29.56032" r="12" transform="translate(-4.20184 19.14279) rotate(-12)"/>
            <circle id="minCircle59" class="cls-min-3" cx="96.93824" cy="28.29746" r="12" transform="translate(-2.42685 10.28782) rotate(-6)"/>



            <text id="minText00" class="cls-min-4" transform="translate(98 32.57251)" {{action 'minuteClicked' '00'}}>00</text>
            <text id="minText05" class="cls-min-4" transform="translate(137 42.90527)" {{action 'minuteClicked' '05'}}>05</text>
            <text id="minText10" class="cls-min-4" transform="translate(165.0105 71.13501)" {{action 'minuteClicked' '10'}}>10</text>
            <text id="minText15" class="cls-min-4" transform="translate(174.5 109.69751)" {{action 'minuteClicked' '15'}}>15</text>
            <text id="minText20" class="cls-min-4" transform="translate(165 148.25952)" {{action 'minuteClicked' '20'}}>20</text>
            <text id="minText25" class="cls-min-4" transform="translate(137 176.48926)" {{action 'minuteClicked' '25'}}>25</text>
            <text id="minText30" class="cls-min-4" transform="translate(98 186.82202)" {{action 'minuteClicked' '30'}}>30</text>
            <text id="minText35" class="cls-min-4" transform="translate(59 176.48975)" {{action 'minuteClicked' '35'}}>35</text>
            <text id="minText40" class="cls-min-4" transform="translate(31 148.25952)" {{action 'minuteClicked' '40'}}>40</text>
            <text id="minText45" class="cls-min-4" transform="translate(20.5 109.69751)" {{action 'minuteClicked' '45'}}>45</text>
            <text id="minText50" class="cls-min-4" transform="translate(31 71.13501)" {{action 'minuteClicked' '50'}}>50</text>
            <text id="minText55" class="cls-min-4" transform="translate(59 42.90552)" {{action 'minuteClicked' '55'}}>55</text>

            <circle id="centerPointMinutes{{instanceNumber}}" class="cls-min-5" cx="104.87496" cy="105.10482" r="3.83185"/>
        </svg>

    </div>

</div>
