
{{log model}}
<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg">
	<defs></defs>
	<title>{{model.type}}</title>
	<circle class="--svg-face cls-dark-fill" />
	<circle class="--svg-pivot cls-bright-fill" />

	{{#each model.points as |point|}}
		<path class="--svg-path-{{point.value}} cls-transparent cls-cursor" {{action 'clickMinutes' point.num}} />
		<line class="--svg-arm-{{point.value}} cls-bright-stroke cls-line" />
		<circle class="--svg-plot-{{point.value}} cls-bright-fill cls-cursor" />
		{{#if point.isVisible}}
			<text class="--svg-text-{{point.value}} cls-text cls-cursor" {{action 'clickMinutes' point.num}}>{{point.value}}</text>
		{{/if}}
	{{/each}}
</svg>
